body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-cozinha{   
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

.content{
    display: flex;
    flex-direction: column;
}


.content > h1{
    margin-left:20px;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 300;
    border-bottom: 3px solid #FFA51F;
    width: 300px;
}

.queue {
    margin: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 75vw;
    height: 100vh;
}

.card-comanda {
    margin: 0;
    background-color: #FFF;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.20);
    border: 1px solid #bbbb;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Roboto;  
    color: #646464;

}

.card-comanda > h1{
}

.card-comanda > p{
    display: none;
}

.card-comanda #done{
    display: none;
    color: #94D58F;
    float: right;
}

.card-comanda #done:hover{
    color: #69A664;
    transform: scale(1.2);
    transition-duration: 0.2s;
}

.card-comanda:hover{
    transform: scale(1.2);
    transition: ease-in-out;
    transition-duration: 0.2s;
    cursor: pointer;

    
    padding: 10px;
    font-size: 0.7rem;
    text-align: left;

}

.card-comanda:hover p{
    display: block;
}

.card-comanda:hover #done{
    display: block;
}